@using Business.ViewModels.Basket;
@model BasketIndexVM;



<div class="axil-product-cart-area axil-section-gap">
    <div class="container">
        <div class="axil-product-cart-wrap">
            <div class="product-table-heading">
                <h4 class="title">Your Cart</h4>
                <a href="#" class="cart-clear">Clear Shoping Cart</a>
            </div>
            <div class="table-responsive">
                <table class="table axil-product-table axil-cart-table mb--40">
                    <thead>
                        <tr>
                            <th scope="col" class="product-remove"></th>
                            <th scope="col" class="product-thumbnail">Product</th>
                            <th scope="col" class="product-title"></th>
                            <th scope="col" class="product-price">Price</th>
                            <th scope="col" class="product-quantity">Quantity</th>
                            <th scope="col" class="product-subtotal">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var products in Model.BasketProducts)
                            {
                                var sum = products.Price * products.Quantity;
                                <tr class="basket-products" id="@products.Id">
                                    <td class="product-remove"><a href="#" class="remove-wishlist basket-delete" data-id="@products.Id"><i class="fal fa-times"></i></a></td>
                                    <td class="product-thumbnail"><a href="single-product.html"><img src="/assets/images/@products.Photoname"></a></td>
                                    <td class="product-title"><a href="single-product.html">@products.Title</a></td>
                                    <td class="product-price" data-title="Price"><span class="currency-symbol">$</span>@products.Price</td>
                                    <td class="product-quantity" data-title="Qty">
                                        <div class="pro-qty">
                                            <div data-id="@products.Id" data-price="@products.Price" class="decrease qtybtn"></div>
                                            <input type="number" class="quantity-input form-@products.Id" value="@products.Quantity">
                                            <div class="increase qtybtn" data-id="@products.Id" data-price="@products.Price"> </div>
                                        </div>
                                    </td>
                                    <td class="product-subtotal" data-title="Subtotal"><span id="total-price-@products.Id" class="currency-symbol">@sum$</span></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>