@using Business.ViewModels.Favourite;
@model List<FavouriteListItemVM>;


<div class="axil-wishlist-area axil-section-gap">
    <div class="container">
        <div class="product-table-heading">
            <h4 class="title">My Wish List on Brand Way</h4>
        </div>
        <div class="table-responsive">
            <table class="table axil-product-table axil-wishlist-table">
                <thead>
                    <tr>
                        <th scope="col" class="product-remove"></th>
                        <th scope="col" class="product-thumbnail">Product</th>
                        <th scope="col" class="product-title"></th>
                        <th scope="col" class="product-price">Unit Price</th>
                        <th scope="col" class="product-add-cart"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var favourite in Model)
                        {
                            <tr class="wish-item" id="@favourite.Id">
                                <td class="product-remove " ><a href="#" class="remove-wishlist wish-delete" data-id="@favourite.Id"><i class="fal fa-times"></i></a></td>
                                <td class="product-thumbnail"><a href="single-product.html"><img src="~/assets/images/@favourite.PhotoName" alt="Digital Product"></a></td>
                                <td class="product-title"><a href="single-product.html">@favourite.Title</a></td>
                                <td class="product-price" data-title="Price"><span class="currency-symbol">$</span>@favourite.Price</td>
                                <td class="product-add-cart"><a class="axil-btn btn-outline add-basket-btn" data-id="@favourite.Id">Add to Cart</a></td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>