@using Business.Areas.Admin.ViewModels.Info;
@model InfoIndexVM;

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <a asp-action="create" asp-controller="info" class="btn btn-success">Create</a>
            <div class="col-md-12 col-sm-12 mt-4 ">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive">
                                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Title</th>
                                                <th>Description</th>
                                                <th>Photo</th>
                                                <th>Create date</th>
                                                <th>Update date</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                foreach (var info in Model.Infos)
                                                {
                                                    <tr>
                                                        <td>@info.Id</td>
                                                        <td>@info.Title</td>
                                                        <td>@Html.Raw(info.Description)</td>

                                                        <td style="width:20%"><img style="width:130px;height:130px;object-fit:cover;" class="img img-thumbnail" src="/assets/images/@info.PhotoName" /></td>
                                                        <td>@info.CreatedAt</td>
                                                        <td>
                                                            @{
                                                                if (info.ModifiedAt.ToString() == "01.01.0001 00:00:00")
                                                                {
                                                                    <p>Non Modified</p>
                                                                }
                                                                else
                                                                {
                                                                    @info.ModifiedAt
                                                                }
                                                            }
                                                        </td>
                                                        <td style="width:240px">
                                                            <div class="btn-group ml-auto">
                                                                <form asp-action="delete" asp-controller="info" asp-area="admin" asp-route-id="@info.Id" style="display:flex;flex-wrap: wrap;gap: 5px;text-align:center;align-items:center;justify-content: center;">
                                                                    <div>
                                                                        <a asp-action="update" asp-controller="info" asp-area="admin" asp-route-id="@info.Id" class="btn btn-sm btn-light">Edit</a>
                                                                        <button type="submit" class="btn btn-sm btn-outline-danger ">
                                                                            <i class="far fa-trash-alt"></i>
                                                                        </button>
                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>